combined_env
venv
*cql_dbs/

*.pyc
*.sqlite3
*tar.gz
*db

*__pycache__*

query_results/

projects*
legacy*

.env

samples/package_extractor_results/cwe*/*
samples/llm_results*

cwe_average_accuracy_metrics*
average_accuracy_metrics*
accuracy_metrics*
vulnerability_judgments*
result_calculation_template*
